<!DOCTYPE html>
<html>
<head>
	<title>Output Image</title>
</head>
<body>
	<h1>UB Prediction</h1>
	<a href="/"><input style="width:70px;height:30px;font-size:20px" type="button" id="backbtn" value="Home"></input></a>
		<div>
		<img style="float:left;padding-left: 20px;width:512px;height:512px"src={{image2}} alt="User Image">
        <p><pre style="font-size: 25px;">
			Result
			File Name : {{dp1}}
			y_max : {{dp2}}
			UB_Height_calculated : {{dp3}} 
			UB_Json : {{dp4}} 
			Difference_in_cm : {{dp5}}
		</pre>
		</p>

	</div>
</body>
</html>






